<%if @tag %>
  <% tag = "&tag=#{@tag}" %>
<%else %>
  <% tag ='' %>
<%end %>
<div class="d-flex justify-content-around">
  <div class="p-2 bd-highlight"><%# Previous Page %>
      <% if @current_page > 1 %>
        <%= link_to vehicles_path + "?page=#{@current_page-1}#{tag}", {:"aria-label" => "Previous", :"class" => "btn btn-outline-secondary", :"style" => "width: 8em;"  } do %>
          <span aria-hidden="true">Previous</span>
        <%end %>
      <%else %>
        <div class="btn btn-outline-secondary disabled" style="width: 8em;">
          <span aria-hidden="true">Previous</span>
        </div>
      <%end %>
  </div>

  <div class="p-2 bd-highlight"><%# Next Page %>
      <% if @current_page < @pages_count %>
        <%= link_to vehicles_path + "?page=#{@current_page+1}#{tag}", {:"aria-label" => "Next", :"class" => "btn btn-outline-secondary", :"style" => "width: 8em;" } do %>
          <span aria-hidden="true">Next</span>
        <%end %>
      <%else %>
      <div class="btn btn-outline-secondary disabled" style="width: 8em;">
        <span aria-hidden="true">Next</span>
      </div>
      <%end %>
  </div>
</div>